php_value upload_max_filesize 50M
php_value post_max_size 50M
php_value max_execution_time 300
php_value max_input_time 300

<Files ~ "\.(php|phtml|php3|php4|php5|pl|py)$">
    Order allow,deny
    Deny from all
</Files>

<FilesMatch "\.(mp3|wav|ogg|jpg|jpeg|png|gif)$">
    Order allow,deny
    Allow from all
</FilesMatch>